services:
  mongodb:
    image: mongo:5.0
    container_name: turing_mongodb
    ports:
      - "${MONGO_HOST_PORT:-27017}:27017"

    volumes:
      - mongodb_data:/data/db
    networks:
      - turing_network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: turing_backend
    ports:
      - "${BACKEND_PORT:-8000}:8000"
    env_file:
      - .env
    environment:
      - PORT=8000
      - MONGODB_URI=${MONGODB_URI:-mongodb://mongodb:27017/turing_pg}
      - CORS_ORIGIN=${CORS_ORIGIN:-*}
      - ACCESS_TOKEN_SECRET=${ACCESS_TOKEN_SECRET:-your_access_token_secret_here}
      - ACCESS_TOKEN_EXPIRY=${ACCESS_TOKEN_EXPIRY:-1d}
      - REFRESH_TOKEN_SECRET=${REFRESH_TOKEN_SECRET:-your_refresh_token_secret_here}
      - REFRESH_TOKEN_EXPIRY=${REFRESH_TOKEN_EXPIRY:-10d}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - PYTHON_SERVICE_URL=http://ml:8001
    depends_on:
      - mongodb
      - ml
    networks:
      - turing_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: build
    container_name: turing_frontend
    command: npm run dev -- --host
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "${FRONTEND_PORT:-3001}:5173"
    environment:
      - VITE_API_URL=http://localhost:8000/api/v1
      - VITE_GOOGLE_CLIENT_ID=${VITE_GOOGLE_CLIENT_ID}
    env_file:
      - .env
    depends_on:
      - backend
    networks:
      - turing_network

  ml:
    build:
      context: ./ml
      dockerfile: Dockerfile
    platform: linux/amd64
    container_name: turing_ml
    ports:
      - "8001:8001"
    volumes:
      - ./ml:/app
    networks:
      - turing_network

  llm:
    build:
      context: ./llm
      dockerfile: Dockerfile
    container_name: turing_llm
    ports:
      - "8002:8002"
    env_file:
      - .env
    environment:
      - GROQ_API_KEY=${GROQ_API_KEY}
      - PYTHON_SERVICE_URL=http://ml:8001
    depends_on:
      - ml
    networks:
      - turing_network

networks:
  turing_network:
    driver: bridge

volumes:
  mongodb_data:
